# Lead Scoring

An education company named X Education sells online courses to industry professionals. On any given day, many professionals who are interested in the courses land on their website and browse for courses. 

X Education has appointed you to help them select the most promising leads, i.e. the leads that are most likely to convert into paying customers. The company requires you to build a model wherein you need to assign a lead score to each of the leads such that the customers with higher lead score have a higher conversion chance and the customers with lower lead score have a lower conversion chance. The CEO, in particular, has given a ballpark of the target lead conversion rate to be around 80%

In [185]:
# Importing required packages
import numpy as np, pandas as pd

In [186]:
# Read data
df = pd.read_csv('/content/Leads.csv')
df.head()

                            Prospect ID  ...  Last Notable Activity
0  7927b2df-8bba-4d29-b9a2-b6e0beafe620  ...               Modified
1  2a272436-5132-4136-86fa-dcc88c88f482  ...           Email Opened
2  8cc8c611-a219-4f35-ad23-fdfd2656bd8a  ...           Email Opened
3  0cc2df48-7cf4-4e39-9de9-19797f9b38cc  ...               Modified
4  3256f628-e534-4826-9d63-4a8b88782852  ...               Modified

[5 rows x 37 columns]

In [187]:
df.shape

(9240, 37)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [189]:
df.describe()

         Lead Number  ...  Asymmetrique Profile Score
count    9240.000000  ...                 5022.000000
mean   617188.435606  ...                   16.344883
std     23405.995698  ...                    1.811395
min    579533.000000  ...                   11.000000
25%    596484.500000  ...                   15.000000
50%    615479.000000  ...                   16.000000
75%    637387.250000  ...                   18.000000
max    660737.000000  ...                   20.000000

[8 rows x 7 columns]

In [190]:
df_null = pd.DataFrame(round((df.isna().sum()/df.shape[0])*100,2),columns=['% Null']).reset_index()

In [191]:
df_null.rename(columns={'index':'Column'},inplace=True)

In [192]:
df_high_null = df_null[df_null['% Null']>25].sort_values(by='% Null')

In [193]:
cols_to_drop = df_high_null.Column.values
cols_to_drop = cols_to_drop[2:]

In [194]:
df_low_null = df_null[df_null['% Null']<25].sort_values(by='% Null')

# Drop columns (missing values > 25%)

In [195]:
df.drop(labels=list(cols_to_drop),inplace=True,axis=1)

In [196]:
df.dropna(inplace=True,axis=0)

In [197]:
df.isna().sum()

Prospect ID                                 0
Lead Number                                 0
Lead Origin                                 0
Lead Source                                 0
Do Not Email                                0
Do Not Call                                 0
Converted                                   0
TotalVisits                                 0
Total Time Spent on Website                 0
Page Views Per Visit                        0
Last Activity                               0
Country                                     0
Specialization                              0
How did you hear about X Education          0
What is your current occupation             0
Search                                      0
Magazine                                    0
Newspaper Article                           0
X Education Forums                          0
Newspaper                                   0
Digital Advertisement                       0
Through Recommendations                     0
Receive More Updates About Our Courses      0
Update me on Supply Chain Content           0
Get updates on DM Content                   0
City                                        0
I agree to pay the amount through cheque    0
A free copy of Mastering The Interview      0
Last Notable Activity                       0
dtype: int64

In [198]:
df.shape

(4925, 29)

In [199]:
obj_cols = df.select_dtypes(np.object).columns.tolist()
obj_cols

['Prospect ID',
 'Lead Origin',
 'Lead Source',
 'Do Not Email',
 'Do Not Call',
 'Last Activity',
 'Country',
 'Specialization',
 'How did you hear about X Education',
 'What is your current occupation',
 'Search',
 'Magazine',
 'Newspaper Article',
 'X Education Forums',
 'Newspaper',
 'Digital Advertisement',
 'Through Recommendations',
 'Receive More Updates About Our Courses',
 'Update me on Supply Chain Content',
 'Get updates on DM Content',
 'City',
 'I agree to pay the amount through cheque',
 'A free copy of Mastering The Interview',
 'Last Notable Activity']

In [200]:
'Do Not Call','Search','Magazine','Digital Advertisement','Newspaper Article','X Education Forums','Newspaper','Through Recommendations','Receive More Updates About Our Courses','Update me on Supply Chain Content','Get updates on DM Content','I agree to pay the amount through cheque'

('Do Not Call',
 'Search',
 'Magazine',
 'Digital Advertisement',
 'Newspaper Article',
 'X Education Forums',
 'Newspaper',
 'Through Recommendations',
 'Receive More Updates About Our Courses',
 'Update me on Supply Chain Content',
 'Get updates on DM Content',
 'I agree to pay the amount through cheque')

In [201]:
for col in obj_cols:
  print('-----------------------------')
  print(df[col].value_counts())
  print('-----------------------------')

-----------------------------
232f7d3b-ee3b-4987-8ef4-a84e8fdecedf    1
27b0b7e1-4d8a-46b6-be0d-89769d6a6795    1
a6df299b-f612-476e-8a0d-ad948dbaf755    1
06feb89a-fb00-48b2-9ee8-71e69ec328fd    1
0c15052a-9f8a-47c4-9fc3-eb20c84ffd74    1
                                       ..
309b99d6-f4bd-446a-902f-756f59171058    1
49fd74ef-98cf-437f-be6b-3fd85843666f    1
d9ed7525-5cf0-45ba-87c2-ca2bca521874    1
53eb261a-c8a8-410b-9110-3025d9ac5d22    1
7ea5288c-e117-4bb9-8f0f-846bf0534f0f    1
Name: Prospect ID, Length: 4925, dtype: int64
-----------------------------
-----------------------------
Landing Page Submission    3598
API                        1300
Lead Add Form                27
Name: Lead Origin, dtype: int64
-----------------------------
-----------------------------
Google               2028
Direct Traffic       1856
Organic Search        860
Olark Chat             73
Referral Sites         71
Reference              21
Welingak Website        5
bing                    3
Social Media            2
Pay per Click Ads       1
Click2call              1
Press_Release           1
testone                 1
Facebook                1
WeLearn                 1
Name: Lead Source, dtype: int64
-----------------------------
-----------------------------
No     4561
Yes     364
Name: Do Not Email, dtype: int64
-----------------------------
-----------------------------
No     4924
Yes       1
Name: Do Not Call, dtype: int64
-----------------------------
-----------------------------
Email Opened                    1918
SMS Sent                        1634
Page Visited on Website          397
Converted to Lead                285
Olark Chat Conversation          203
Email Bounced                    152
Email Link Clicked               123
Form Submitted on Website         81
Unreachable                       65
Unsubscribed                      35
Had a Phone Conversation          22
View in browser link Clicked       3
Approached upfront                 3
Email Received                     2
Email Marked Spam                  1
Visited Booth in Tradeshow         1
Name: Last Activity, dtype: int64
-----------------------------
-----------------------------
India                   4724
United States             46
United Arab Emirates      39
Singapore                 18
Saudi Arabia              16
United Kingdom            11
Qatar                      9
Australia                  8
Hong Kong                  6
France                     5
Bahrain                    5
Oman                       5
Nigeria                    3
Kuwait                     3
South Africa               3
Philippines                2
Germany                    2
Sweden                     2
Uganda                     2
Netherlands                2
Canada                     2
Tanzania                   1
Bangladesh                 1
Sri Lanka                  1
Kenya                      1
Vietnam                    1
Russia                     1
Indonesia                  1
Italy                      1
Denmark                    1
Malaysia                   1
Ghana                      1
China                      1
Name: Country, dtype: int64
-----------------------------
-----------------------------
Select                               906
Finance Management                   657
Human Resource Management            576
Marketing Management                 553
Operations Management                349
Business Administration              277
IT Projects Management               258
Supply Chain Management              251
Banking, Investment And Insurance    230
Media and Advertising                152
Travel and Tourism                   145
International Business               128
Healthcare Management                101
Hospitality Management                78
Retail Management                     74
E-COMMERCE                            74
Rural and Agribusiness                52
E-Business                            41
Services Excellence                   23
Name: Specialization, dtype: int64
-----------------------------
-----------------------------
Select                   3446
Online Search             601
Word Of Mouth             250
Student of SomeSchool     238
Other                     143
Multiple Sources          112
Social Media               52
Advertisements             49
Email                      22
SMS                        12
Name: How did you hear about X Education, dtype: int64
-----------------------------
-----------------------------
Unemployed              4302
Working Professional     470
Student                  127
Other                     14
Housewife                  7
Businessman                5
Name: What is your current occupation, dtype: int64
-----------------------------
-----------------------------
No     4915
Yes      10
Name: Search, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: Magazine, dtype: int64
-----------------------------
-----------------------------
No     4924
Yes       1
Name: Newspaper Article, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: X Education Forums, dtype: int64
-----------------------------
-----------------------------
No     4924
Yes       1
Name: Newspaper, dtype: int64
-----------------------------
-----------------------------
No     4922
Yes       3
Name: Digital Advertisement, dtype: int64
-----------------------------
-----------------------------
No     4919
Yes       6
Name: Through Recommendations, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: Receive More Updates About Our Courses, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: Update me on Supply Chain Content, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: Get updates on DM Content, dtype: int64
-----------------------------
-----------------------------
Mumbai                         2275
Select                         1032
Thane & Outskirts               513
Other Cities                    467
Other Cities of Maharashtra     308
Other Metro Cities              278
Tier II Cities                   52
Name: City, dtype: int64
-----------------------------
-----------------------------
No    4925
Name: I agree to pay the amount through cheque, dtype: int64
-----------------------------
-----------------------------
No     2770
Yes    2155
Name: A free copy of Mastering The Interview, dtype: int64
-----------------------------
-----------------------------
Email Opened                    1617
Modified                        1487
SMS Sent                        1406
Page Visited on Website          192
Email Link Clicked                77
Olark Chat Conversation           45
Email Bounced                     39
Unsubscribed                      27
Unreachable                       18
Had a Phone Conversation          13
View in browser link Clicked       1
Email Marked Spam                  1
Approached upfront                 1
Email Received                     1
Name: Last Notable Activity, dtype: int64
-----------------------------

In [202]:
cols_to_drop_2 = ['Prospect ID','Do Not Call','Search','Magazine','Digital Advertisement','Newspaper Article','X Education Forums','Newspaper','Through Recommendations','Receive More Updates About Our Courses','Update me on Supply Chain Content','Get updates on DM Content','I agree to pay the amount through cheque']

In [203]:
df.drop(labels=cols_to_drop_2,inplace=True,axis=1)

In [204]:
df.shape

(4925, 16)

In [205]:
obj_cols = df.select_dtypes(np.object).columns.tolist()
obj_cols

['Lead Origin',
 'Lead Source',
 'Do Not Email',
 'Last Activity',
 'Country',
 'Specialization',
 'How did you hear about X Education',
 'What is your current occupation',
 'City',
 'A free copy of Mastering The Interview',
 'Last Notable Activity']

In [206]:
for col in obj_cols:
  print('-----------------------------')
  print(round((df[col].value_counts()/df.shape[0])*100,2))
  print('-----------------------------')

-----------------------------
Landing Page Submission    73.06
API                        26.40
Lead Add Form               0.55
Name: Lead Origin, dtype: float64
-----------------------------
-----------------------------
Google               41.18
Direct Traffic       37.69
Organic Search       17.46
Olark Chat            1.48
Referral Sites        1.44
Reference             0.43
Welingak Website      0.10
bing                  0.06
Social Media          0.04
Pay per Click Ads     0.02
Click2call            0.02
Press_Release         0.02
testone               0.02
Facebook              0.02
WeLearn               0.02
Name: Lead Source, dtype: float64
-----------------------------
-----------------------------
No     92.61
Yes     7.39
Name: Do Not Email, dtype: float64
-----------------------------
-----------------------------
Email Opened                    38.94
SMS Sent                        33.18
Page Visited on Website          8.06
Converted to Lead                5.79
Olark Chat Conversation          4.12
Email Bounced                    3.09
Email Link Clicked               2.50
Form Submitted on Website        1.64
Unreachable                      1.32
Unsubscribed                     0.71
Had a Phone Conversation         0.45
View in browser link Clicked     0.06
Approached upfront               0.06
Email Received                   0.04
Email Marked Spam                0.02
Visited Booth in Tradeshow       0.02
Name: Last Activity, dtype: float64
-----------------------------
-----------------------------
India                   95.92
United States            0.93
United Arab Emirates     0.79
Singapore                0.37
Saudi Arabia             0.32
United Kingdom           0.22
Qatar                    0.18
Australia                0.16
Hong Kong                0.12
France                   0.10
Bahrain                  0.10
Oman                     0.10
Nigeria                  0.06
Kuwait                   0.06
South Africa             0.06
Philippines              0.04
Germany                  0.04
Sweden                   0.04
Uganda                   0.04
Netherlands              0.04
Canada                   0.04
Tanzania                 0.02
Bangladesh               0.02
Sri Lanka                0.02
Kenya                    0.02
Vietnam                  0.02
Russia                   0.02
Indonesia                0.02
Italy                    0.02
Denmark                  0.02
Malaysia                 0.02
Ghana                    0.02
China                    0.02
Name: Country, dtype: float64
-----------------------------
-----------------------------
Select                               18.40
Finance Management                   13.34
Human Resource Management            11.70
Marketing Management                 11.23
Operations Management                 7.09
Business Administration               5.62
IT Projects Management                5.24
Supply Chain Management               5.10
Banking, Investment And Insurance     4.67
Media and Advertising                 3.09
Travel and Tourism                    2.94
International Business                2.60
Healthcare Management                 2.05
Hospitality Management                1.58
Retail Management                     1.50
E-COMMERCE                            1.50
Rural and Agribusiness                1.06
E-Business                            0.83
Services Excellence                   0.47
Name: Specialization, dtype: float64
-----------------------------
-----------------------------
Select                   69.97
Online Search            12.20
Word Of Mouth             5.08
Student of SomeSchool     4.83
Other                     2.90
Multiple Sources          2.27
Social Media              1.06
Advertisements            0.99
Email                     0.45
SMS                       0.24
Name: How did you hear about X Education, dtype: float64
-----------------------------
-----------------------------
Unemployed              87.35
Working Professional     9.54
Student                  2.58
Other                    0.28
Housewife                0.14
Businessman              0.10
Name: What is your current occupation, dtype: float64
-----------------------------
-----------------------------
Mumbai                         46.19
Select                         20.95
Thane & Outskirts              10.42
Other Cities                    9.48
Other Cities of Maharashtra     6.25
Other Metro Cities              5.64
Tier II Cities                  1.06
Name: City, dtype: float64
-----------------------------
-----------------------------
No     56.24
Yes    43.76
Name: A free copy of Mastering The Interview, dtype: float64
-----------------------------
-----------------------------
Email Opened                    32.83
Modified                        30.19
SMS Sent                        28.55
Page Visited on Website          3.90
Email Link Clicked               1.56
Olark Chat Conversation          0.91
Email Bounced                    0.79
Unsubscribed                     0.55
Unreachable                      0.37
Had a Phone Conversation         0.26
View in browser link Clicked     0.02
Email Marked Spam                0.02
Approached upfront               0.02
Email Received                   0.02
Name: Last Notable Activity, dtype: float64
-----------------------------

In [207]:
cols_to_drop_3 = ['How did you hear about X Education','Country','City','Do Not Email']
df.drop(labels=cols_to_drop_3,inplace=True,axis=1)

In [208]:
df.shape

(4925, 12)

In [209]:
df['Specialization'] = df['Specialization'].apply(lambda x:'Other' if x=='Select' else x)

In [210]:
df['Specialization'].value_counts()

Other                                906
Finance Management                   657
Human Resource Management            576
Marketing Management                 553
Operations Management                349
Business Administration              277
IT Projects Management               258
Supply Chain Management              251
Banking, Investment And Insurance    230
Media and Advertising                152
Travel and Tourism                   145
International Business               128
Healthcare Management                101
Hospitality Management                78
Retail Management                     74
E-COMMERCE                            74
Rural and Agribusiness                52
E-Business                            41
Services Excellence                   23
Name: Specialization, dtype: int64

In [211]:
df.drop(labels='Lead Number',inplace=True,axis=1)

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4925 entries, 1 to 9239
Data columns (total 11 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Lead Origin                             4925 non-null   object
 1   Lead Source                             4925 non-null   object
 2   Converted                               4925 non-null   int64
 3   TotalVisits                             4925 non-null   float64
 4   Total Time Spent on Website             4925 non-null   int64
 5   Page Views Per Visit                    4925 non-null   float64
 6   Last Activity                           4925 non-null   object
 7   Specialization                          4925 non-null   object
 8   What is your current occupation         4925 non-null   object
 9   A free copy of Mastering The Interview  4925 non-null   object
 10  Last Notable Activity                   4925 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 461.7+ KB

In [213]:
df['A free copy of Mastering The Interview'].value_counts()

No     2770
Yes    2155
Name: A free copy of Mastering The Interview, dtype: int64

In [214]:
df['A free copy of Mastering The Interview'] = df['A free copy of Mastering The Interview'].apply(lambda x:1 if x=='Yes' else 0)

In [215]:
df['A free copy of Mastering The Interview'].value_counts()

0    2770
1    2155
Name: A free copy of Mastering The Interview, dtype: int64